@import "vars"

.goods_discrip-wrap
	width: 100%
	display: flex
	flex-direction: row
	justify-content: flex-start
	flex-wrap: wrap

.goods_discrip-img
	width: 35%
.goods_img-wrap
	width: 100%
	position: relative
	background-color: #fff
	margin-bottom: 15px	
	&:before
		content: ''
		display: block
		padding-top: 110%			
	a
		position: absolute
		display: flex
		top: 0
		right: 0
		bottom: 0
		left: 0
.goods_img
	width: auto
	max-width: 98%
	height: auto
	max-height: 98%
	margin: auto
.goods_img-prew-wrap
	width: 100%
	overflow: hidden
	display: flex
	flex-direction: row
	justify-content: flex-start
	flex-wrap: wrap
.goods_img-link
	display: block
	width: 20%
	position: relative
	overflow: hidden
	&:before
		content: ''
		display: block
		padding-top: 100%	
.goods_img-item
	display: block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	padding: 3px	
	span
		display: block
		width: 100%
		height: 100%
		overflow: hidden
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		border: 2px solid #fff
		border-radius: 3px
.goods-active
	span::after
		background: #ab8e58
		margin: 0 0 0 -92px
		position: absolute
		width: 184px
		content: ""
		height: 2px
		bottom: 0
		left: 50%
.goods_img-prew
	width: 100%
	display: none
.goods_discrip-params
	width: 440px
	margin-left: 30px
.goods_params-title
	display: inline-block
	text-transform: uppercase
	line-height: 21px
	font-weight: 600
	font-size: 15px
	position: relative
	&:after
		background: $accent
		margin: 0 0 0 -50px
		position: absolute
		width: 100px
		content: ""
		height: 2px
		bottom: 0
		left: 50%
.goods_params-list
	padding: 0

.goods_params-item
	display: flex
	justify-content: space-between
	width: 100%
	list-style: none
	&:nth-child(odd)
		background-color: darken($body, 1%)
.goods_params-name
	display: inline-block
	text-align: left
	padding: 4px 9px 4px 9px
.goods_params-value
	display: inline-block
	text-align: right
	font-weight: 600
	padding: 4px 9px 4px 9px

.goods_discrip-call
	display: block
	width: 250px
	height: 400px
	margin-left: auto
	background-color: darken($body, 15%)